<div class="ui fixed inverted menu">
  <div class="ui container">

    <a class="header item" href="/">
      <img class="logo" src="{{ url_for('static', filename='images/nginx.png') }}">
      Nginx UI
    </a>

    {% if current_user and current_user.is_authenticated %}
      <div class="ui dropdown item" id="edit_config">
        Main Config
        <i class="dropdown icon"></i>
        <div class="menu">
          {% for name in config %}
            <div class="config item">{{ name }}</div>
          {% endfor %}
        </div>
      </div>

      <a class="item" id="sites">
        Sites
      </a>

      <div class="mobile hidden right item">
        <div class="ui action input">
          <input type="text" placeholder="example.com" id="add_site">
          <button class="ui green button" onclick="add_site()" tabindex="0">
            Add
          </button>
        </div>
      </div>

      <div class="right item" style="margin-left: 0 !important;">
        <button class="ui green button" title="Reload Nginx" onclick="reload_nginx()" tabindex="0">
          <i class="sync icon" style="margin: 0; color: white; opacity: 1;"></i>
        </button>
        <button class="ui red button" title="Logout" onclick="window.location = '/logout'" tabindex="0"
                style="margin-left: 10px">
          <i class="sign out icon" style="margin: 0; color: white; opacity: 1;"></i>
        </button>
      </div>
    {% endif %}

  </div>

</div>