[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Moment = "*"
Flask-Login = "*"
Jinja2 = "*"
uWSGI = "*"
Werkzeug = "*"
libsass = "*"
flask-sqlalchemy = "*"
flask-toastr = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
