<!DOCTYPE html>
<html lang="en" {% if config.DARK_THEME %}class="theme-dark"{% endif %}>
{% include "components/head.html" %}
<body>

{% include "components/nav.html" %}

<div class="ui grid middle aligned center aligned" style="height: 60%">
  <div class="column" style="max-width: 450px">
    <h2 class="ui header">Login</h2>
    <form class="ui large form" method="POST" action="/login">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <input id="rememberme" type="checkbox" style="vertical-align: -10% !important;">
            <label for="rememberme" style="padding-left: 5px;">Remember me</label>
          </label>
        </div>
        <button class="ui fluid large green submit button">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
{{ toastr.include_toastr_js() }}
</body>
</html>